PrincessAPI/doc/R0300.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by PRINCESS CRUISES (PRINCESS CRUISES) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="R0300ResponseType">
		<xsd:annotation>
			<xsd:documentation>R0300 ResponseType</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Id">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="preserve"/>
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Name" type="NameType"/>
			<xsd:element name="PersonalDetails" type="PersonalDetailsType" minOccurs="0"/>
			<xsd:element name="PassportDetails" type="PassportDetailsType" minOccurs="0"/>
			<xsd:element name="Address" type="AddressType"/>
			<xsd:element name="Email" type="EmailType" minOccurs="0"/>
			<xsd:element name="Telephone" type="TelephoneType" minOccurs="0"/>
			<xsd:element name="ContactPreference" type="ContactPreferenceType" minOccurs="0"/>
			<xsd:element name="DNSFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GatewayCity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IQ8FaultCode" minOccurs="0"/>
			<xsd:element name="IQ8FaultDescription" minOccurs="0"/>
			<xsd:element name="PassengerStatus" minOccurs="0"/>
			<xsd:element name="StatusResponse" type="StatusResponseType" minOccurs="0"/>
			<xsd:element name="CruiseCompany" type="CruiseCompanydetailType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="R0300Request" type="R0300RequestType"/>
	<xsd:element name="R0300Response" type="R0300ResponseType"/>
	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:documentation>Address Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Address1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Address2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Address3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HouseName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="City" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StateOrCounty" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PostCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Country" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DeliveryPointBarCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CarrierRoute" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="R0300RequestType">
		<xsd:annotation>
			<xsd:documentation>R0300 Request Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CustomerId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CruiseCompany" type="CruiseCompanydetailType" minOccurs="0"/>
			<xsd:element name="Name" type="NameType"/>
			<xsd:element name="Address" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Address1" minOccurs="0"/>
						<xsd:element name="Address2" minOccurs="0"/>
						<xsd:element name="Address3" minOccurs="0"/>
						<xsd:element name="HouseName" minOccurs="0"/>
						<xsd:element name="City" minOccurs="0"/>
						<xsd:element name="StateOrCounty" minOccurs="0"/>
						<xsd:element name="PostCode" minOccurs="0"/>
						<xsd:element name="Country" minOccurs="0"/>
						<xsd:element name="Phone" minOccurs="0"/>
						<xsd:element name="Mobile" minOccurs="0"/>
						<xsd:element name="Fax" minOccurs="0"/>
						<xsd:element name="Email" minOccurs="0"/>
						<xsd:element name="DeliveryPointBarCode" minOccurs="0"/>
						<xsd:element name="CarrierRoute" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BypassFaultCode" minOccurs="0"/>
			<xsd:element name="PersonalDetails" type="PersonalDetailsType" minOccurs="0"/>
			<xsd:element name="FormCode" minOccurs="0"/>
			<xsd:element name="QuestionAnswers" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Question" type="xsd:string" minOccurs="0"/>
						<xsd:element name="Answer" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GatewayCity" minOccurs="0"/>
			<xsd:element name="ContactPreference" type="ContactPreferenceType" minOccurs="0"/>
			<xsd:element name="PassportDetails" type="PassportDetailsType" minOccurs="0"/>
			<xsd:element name="password" minOccurs="0"/>
			<xsd:element name="SourceCode" minOccurs="0"/>
			<xsd:element name="OriginCode" minOccurs="0"/>
			<xsd:element name="TravelAgentInd" minOccurs="0"/>
			<xsd:element name="TravelAgentFlag" minOccurs="0"/>
			<xsd:element name="AlternateId" minOccurs="0"/>
			<xsd:element name="CampaignCd" minOccurs="0"/>
			<xsd:element name="BookingNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NameType">
		<xsd:annotation>
			<xsd:documentation>NameType</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Suffix" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FirstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MiddleName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Title" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ContactStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PreferredLastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PreferredNameIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FullName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonalDetailsType">
		<xsd:annotation>
			<xsd:documentation>Personal Detail Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Gender" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Age" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BirthDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MaritalStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OccupationCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OccupationDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RetiredFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryOfCitizenship" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryOfBirth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PlaceOfBirth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryOfResidency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AnniversaryDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NationalityCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CruiseCompanydetailType">
		<xsd:annotation>
			<xsd:documentation>CruiseCompany Detail Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BookingCompanyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProductCompanyCode" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactPreferenceType">
		<xsd:annotation>
			<xsd:documentation>ContactPreferenceType</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ExpressedConsent" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CPPhoneCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CPMailCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CPEmailCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DoNotShare" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PhoneCodeDate" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PassportDetailsType">
		<xsd:annotation>
			<xsd:documentation>PassportDetailsType</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PassportNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DateOfIssue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DateOfExpiration" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PlaceOfIssue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryOfIssue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AlienResidentId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PassportFullName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IssuingAuthorityLocation" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaxBookingInfoType">
		<xsd:annotation>
			<xsd:documentation>PaxBookingInfoType</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BookingPaxId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PifCompleteFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PifSource" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TaAnsid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LoyaltyCredits" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CategoryPaid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CategoryPaidMeta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AirCity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AirFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AirDirectionFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AirDeviationFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="InsuranceFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DietCodes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MedicalCodes" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SpecialOccasionType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SpecialOccasionDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TravelInsCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ResourceBeforeAfterFlags" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ResourceBeforeAfterFlag" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ResourceId" type="xsd:string" minOccurs="0"/>
						<xsd:element name="ResourceDays" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PricingInformation" type="PricingInformationType"/>
			<xsd:element name="Insurance" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AirChoice" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TransferIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="InsuranceCost" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SMSOptIn" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PricingInformationType">
		<xsd:annotation>
			<xsd:documentation>PricingInformationType</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ConcessionCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PromoCodes" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PromoCode" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CampaignId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CouponCd" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AirSupplementalCost" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BeforePackageAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AfterPackageAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TourLandMods" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Fare" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GrossFare" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Discount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NetFare" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BookingCommission" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TourCost" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AirFare" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmailType">
		<xsd:sequence>
			<xsd:element name="Email" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TelephoneType">
		<xsd:sequence>
			<xsd:element name="Phone" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Mobile" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Cell Phone Number</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Fax" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fax Number</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StatusResponseType">
		<xsd:sequence>
			<xsd:element name="Status" type="xsd:string"/>
			<xsd:element name="TransactionId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReturnCode" type="xsd:string"/>
			<xsd:element name="StatusCode" type="xsd:string"/>
			<xsd:element name="StatusMessage" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
