WmMediator/config/resources/custom_quote.wsdl

<wsdl:definitions xmlns:axis2="http://services.samples"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ns1="http://services.samples/xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://services.samples">
    <wsdl:documentation>SimpleStockQuoteService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax21="http://services.samples/xsd"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://services.samples/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified">
            <xs:element name="checkPriceRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Code" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkPriceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Code" type="xs:string"/>
                        <xs:element name="Price" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="checkPriceMessage">
        <wsdl:part name="part1" element="ns1:checkPriceRequest"/>
    </wsdl:message>
    <wsdl:message name="checkPriceResponseMessage">
        <wsdl:part name="part1" element="ns1:checkPriceResponse"/>
    </wsdl:message>
    <wsdl:portType name="SimpleStockQuoteServicePortType">
        <wsdl:operation name="checkPriceRequest">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                        message="axis2:checkPriceMessage" wsaw:Action="urn:getQuote"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                         message="axis2:checkPriceResponseMessage"
                         wsaw:Action="http://services.samples/SimpleStockQuoteServicePortType/checkPriceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SimpleStockQuoteServiceSOAP11Binding"
                  type="axis2:SimpleStockQuoteServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="checkPriceRequest">
            <soap:operation soapAction="urn:getQuote" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SimpleStockQuoteService">
        <wsdl:port name="SimpleStockQuoteServiceSOAP11port_http"
                   binding="axis2:SimpleStockQuoteServiceSOAP11Binding">
            <soap:address location="http://localhost:5555/ws/WmMediator/services/CustomTransformProxy"/>
        </wsdl:port>
        <wsdl:port name="SimpleStockQuoteServiceSOAP12port_http"
                   binding="axis2:SimpleStockQuoteServiceSOAP12Binding">
            <soap12:address location="http://localhost:5555/ws/WmMediator/services/CustomTransformProxy"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
